.contact-us {
	padding-top: 50px;
	width: 50%;
	font-family: 'PT Serif', serif;
}

.contact-us-text {
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	margin-bottom: auto;
	font-size: 80px;
	text-align: center;
	color: white;
}
.contact-image{
	width: 100px;
	height: 100px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.contact-details-div{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
}
.contact-image-container{
	width: 30vw;
}
.padding-div{
	min-width: 35vw;
}
.map-iframe{
	padding-bottom: 30px;
}
.us{
	font-size: 20px;
}

@media only screen and (max-width: 800px) {
	.contact-us {

		width: 90%;
	}
}